<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Cifar-10 Dataset </h3>
    <ul>
      <li> Python </li>
      <li> Deeplearning Neural Networks </li>
    </ul>
    <p>A Neural Network that can differentiate between images of 10 different classes.</p>
    <a class="project-link" href="https://nvikramraj.github.io/cifar10/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Cats vs Dogs </h3>
    <ul>
      <li> Python </li>
      <l1> Deeplearning Neural Networks </l1>
    </ul>
    <p>A Neural Network that can differentiate between images of cats and dogs.</p>
    <a class="project-link" href="https://nvikramraj.github.io/CatsvsDogs/">Check it out</a>
  </div>
</div>
