<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/2.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Cifar-10 </h3>
    <ul>
      <li> Python</li>
      <li> DeepLearning Neural Networks</li>
    </ul>
    <p>A Neural Network that can differentiate between the elements in the cifar-10 dataset . I've created two models to cross check their accuracy.</p>
    <a class="project-link" href="https://nvikramraj.github.io/cifar10/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Instagram Bot </h3>
    <ul>
      <li> Python</li>
    </ul>
    <p>A Bot that can search , follow , like , comment on an account in Instagram.</p>
    <a class="project-link" href="https://nvikramraj.github.io/InstagramBot/">Check it out</a>
  </div>
</div>
